<h1>welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>
<p>This is the landing page for our blog application made using Ruby on Rails.</p>
<p>This page is just a placeholder. Later on, we'll replace with the posts in our blog.</p>

<p>The current time is <%= Time.now %></p>
